[Unit]
Description=Restic backup
#TODO: OnFailure

[Service]
Type=simple
Nice=10
ExecStart=/home/lars/.restic/restic_backup.sh
Environment="HOME=/home/lars"

[Install]
WantedBy=default.target

