[Unit]
Description=Runs updates-notifier.service every hour

[Timer]
# Time to wait after booting before we run first time
OnBootSec=5min
# Time between running each consecutive time
OnUnitActiveSec=1h
Unit=updates-notifier.service

[Install]
WantedBy=timers.target
