[user]
  name = {{ .name }}
  email = {{ .email }}

[alias]
  l = log --oneline -n 20 --graph
  s = status -s

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[core]
  excludesfile = ~/.gitignore
  autocrlf = input

[svn]
  rmdir = true

[push]
  default = simple

[pull]
  rebase = true

[rerere]
  enabled = true

[init]
  defaultBranch = main

{{ if eq .chezmoi.os "darwin" -}}
[credential]
  helper = osxkeychain
{{ end -}}

