Host *
  tcpkeepalive yes
  serveralivecountmax 6
  stricthostkeychecking no
  serveraliveinterval 15
  compression yes
{{ if eq .chezmoi.os "darwin" -}}
  UseKeychain yes
{{ end -}}

Host github.com
  User git

Host taz-dn013
  ProxyCommand ssh root@taz-nn001 -W %h:%p

# Stackable Github Actions Runner
Host centos8runner1
  User root
  HostName 85.215.232.97
Host centos7runner1
  User root
  HostName 185.56.151.42
Host debian10runner1
  User root
  HostName 85.215.235.3

# ProSieben
Host *.fhm.de
  User fra0a01l
