alias vim="nvim"
alias vi="nvim"
alias oldvim="\vim"

alias vm="docker run -it --rm -v {{ .chezmoi.homeDir }}:{{ .chezmoi.username }} centos /bin/bash"

alias dl="cd ~/Downloads"
alias dev="cd ~/dev"
alias devs="cd ~/dev/stackable"
alias deve="cd ~/dev/external"
alias devo="cd ~/dev/opencore"
